@import 'variables';
@import 'bootstrap';

.text-right {
    text-align: right;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: $blue;
}

.btn-click {
    font-weight: bold;
    text-decoration: none;
    background: $orange;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}
.btn-click:hover,
.btn-click:active {
    color: #fff;
    text-decoration: none;
    background: $dark-orange1;
}

.row {
    @include media(display-sm) {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
    }
    @include media(display-md) {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
    }
}
.row > [class*='col-'] {
    @include media(display-sm) {
        display: flex;
        flex-direction: column;
    }
    @include media(display-md) {
        display: flex;
        flex-direction: column;
    }
}